<div class="container">
    <div class="row">
        @model IEnumerable<SanPham>
        <div class="col-sm-3">
            @Html.Partial("_Sidebar")
        </div>

        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">Features Items</h2>
                @foreach (var item in Model)
                {
                    <div class="col-sm-4">

                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/@item.Anh" alt="" />
                                    <h2>@item.GiaThanh VND</h2>
                                    <p>@item.TenSp</p>
                                    <p>Danh Mục: @item.MaDmNavigation.TenDm</p>
                                    <p>Danh Mục: @item.MaThNavigation.TenTh</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
